openapi: 3.0.3
info:
  title: VizoTranslator API
  description: |
    AI-Powered Translation API by VizoLabs

    ## Authentication
    All endpoints require authentication using Bearer token in the Authorization header.

    ## Rate Limits
    - Free: 100 requests/minute
    - Starter: 1,000 requests/minute
    - Pro: 10,000 requests/minute
    - Enterprise: Unlimited
  version: 1.0.0
  contact:
    email: vizolabsindia@gmail.com
  license:
    name: MIT

servers:
  - url: https://api.vizotranslator.com/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Development

tags:
  - name: Translation
    description: Translation operations
  - name: Authentication
    description: User authentication
  - name: Projects
    description: Translation projects
  - name: Glossaries
    description: Translation glossaries
  - name: Memory
    description: Translation memory
  - name: Billing
    description: Subscription and billing

paths:
  /translate/translate:
    post:
      tags: [Translation]
      summary: Translate text
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslateRequest'
      responses:
        '200':
          description: Successful translation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /translate/batch:
    post:
      tags: [Translation]
      summary: Batch translate multiple texts
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchTranslateRequest'
      responses:
        '200':
          description: Successful batch translation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchTranslateResponse'

  /translate/detect:
    post:
      tags: [Translation]
      summary: Detect language
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  maxLength: 5000
      responses:
        '200':
          description: Language detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectLanguageResponse'

  /translate/languages:
    get:
      tags: [Translation]
      summary: Get supported languages
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of supported languages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguagesResponse'

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /projects:
    get:
      tags: [Projects]
      summary: List projects
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of projects
    post:
      tags: [Projects]
      summary: Create project
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created

  /projects/{id}:
    get:
      tags: [Projects]
      summary: Get project
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project details
    patch:
      tags: [Projects]
      summary: Update project
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated
    delete:
      tags: [Projects]
      summary: Delete project
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project deleted

  /billing/plans:
    get:
      tags: [Billing]
      summary: Get available plans
      responses:
        '200':
          description: List of plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansResponse'

  /billing/subscribe:
    post:
      tags: [Billing]
      summary: Subscribe to a plan
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan]
              properties:
                plan:
                  type: string
                  enum: [free, starter, pro, enterprise]
      responses:
        '200':
          description: Subscription created

  /api-keys:
    get:
      tags: [API Keys]
      summary: List API keys
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API keys
    post:
      tags: [API Keys]
      summary: Create API key
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    TranslateRequest:
      type: object
      required: [text, source, target]
      properties:
        text:
          type: string
          maxLength: 50000
        source:
          type: string
          minLength: 2
          maxLength: 10
        target:
          type: string
          minLength: 2
          maxLength: 10
        context:
          type: string
        industry:
          type: string
        tone:
          type: string
          enum: [formal, casual, technical]
        preserveFormat:
          type: boolean

    TranslateResponse:
      type: object
      properties:
        translation:
          type: string
        source:
          type: string
        target:
          type: string
        confidence:
          type: number
          format: float
        provider:
          type: string
        tokens:
          type: integer
        cached:
          type: boolean

    BatchTranslateRequest:
      type: object
      required: [texts, source, target]
      properties:
        texts:
          type: array
          items:
            type: string
          maxItems: 100
        source:
          type: string
        target:
          type: string
        context:
          type: string
        industry:
          type: string

    BatchTranslateResponse:
      type: object
      properties:
        translations:
          type: array
          items:
            $ref: '#/components/schemas/TranslateResponse'

    DetectLanguageResponse:
      type: object
      properties:
        language:
          type: string
        confidence:
          type: number

    LanguagesResponse:
      type: object
      properties:
        languages:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              name:
                type: string
              native_name:
                type: string
              rtl:
                type: boolean

    RegisterRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        full_name:
          type: string

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        full_name:
          type: string
        role:
          type: string

    CreateProjectRequest:
      type: object
      required: [name, source_lang, target_lang]
      properties:
        name:
          type: string
        description:
          type: string
        source_lang:
          type: string
        target_lang:
          type: string
        industry:
          type: string
        priority:
          type: string
          enum: [low, normal, high, urgent]
        deadline:
          type: string
          format: date-time

    UpdateProjectRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, in_progress, review, completed, cancelled]
        priority:
          type: string
        deadline:
          type: string

    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        permissions:
          type: array
          items:
            type: string
        rate_limit:
          type: integer
        expires_at:
          type: string
          format: date-time

    PlansResponse:
      type: object
      properties:
        plans:
          type: object
          properties:
            free:
              $ref: '#/components/schemas/Plan'
            starter:
              $ref: '#/components/schemas/Plan'
            pro:
              $ref: '#/components/schemas/Plan'
            enterprise:
              $ref: '#/components/schemas/Plan'

    Plan:
      type: object
      properties:
        price:
          type: number
        requests:
          type: integer
        translate_chars:
          type: integer

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
